[user]
{{- if eq .context "work" }}
  name = Trevor Lauder
  email = trevor.l@getjobber.com
  signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBSUVAIeDzcblOEpMsc/j99JM84OcqLoRqMlkM4V/xV+
{{- else }}
  name = Trevor Lauder
  email = me@trevorlauder.dev
  signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ8Kxf3xBGGiw6nvswyyCTfSd57cezaY25v72wGadcrA
{{- end }}

[fetch]
  prune = true

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = /Users/tlauder/.ssh/allowed_signers
  defaultKeyCommand = ssh-add -L

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  syntax-theme = Dracula
  true-color = always

[merge]
  conflictStyle = zdiff3

[merge "ours"]
  driver = true

[merge "theirs"]
  driver = cp %B %A
