[settings]
experimental = true

[tools]
fzf = "0.70.0"
claude-code = "2.1.86"
github-cli = "2.89.0"
delta = "0.19.2"
starship = "1.24.2"
uv = "0.11.2"
bat = "0.26.1"
prek = "0.3.6"
python = "3.14.3"
k9s = "0.50.18"
{{- if eq .context "work" }}
{{- else }}
k6 = "latest"
{{- end }}

[settings.ruby]
compile = false
